.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 880px;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .profile {
        flex-direction: column;
    }
}