.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 45px;
    margin: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    width: calc(90% - 20px);
    padding-bottom: 41px;
}

@media screen and (max-width: 860px) {
    .header {
      padding-top: 28px;
    }
  }