.profile__name{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    justify-items: start;
    align-items: center;
    padding-left: 30px;
    column-gap: 18px;
    row-gap: 16px;
}